.png-img{
    width: 20vw;
    height: 245px;
}
body{
    background-image: url("back2.jpg");
}
.name{
    height: 40px;
    width: 150px;
    border: none;
    border: 1px solid;
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    margin-left: 90px;
    margin-top: 20px;
}
.name:hover{
    border: 3px solid;
    cursor: pointer;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pngs{
    margin: 10px;
}
#png-4{
    margin-left:300px ;
    padding-right: 90px;
}
#png-4,#png-5{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
}
#png-5{
    margin-right: 320px;
}
.inlogo{
    height: 100px;
    width: 100px;   
}
.png-img{
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius:10px;
}
.png-img:hover{
    transform: scale(1.1);
}
.retu{
    background-color: transparent;
    height: 30px;
    color: rgb(207, 220, 20);
    border: 2px solid orange;
}
.retu:hover{
    border-radius: 10px;
    cursor: pointer;
    
}
.inlogo{
    -webkit-mask-image: linear-gradient(45deg,black,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,black 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 600%;
    mask-size: 600%;
    -webkit-mask-position: 4;
    mask-position: 4;
}
.inlogo:hover{
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 100%;
    mask-position: 100%;
    opacity: 2;
}
