.container{
    padding:30px;
    height:100px;
    text-align:center;
    display:flex;
    padding-left:0px;
    padding-top:0px;
    background-color:rgb(3, 60, 7);


    
}


body{
    
    padding:0px;
    margin:0px;


    
}


h{
    font-size:50px;
    text-shadow: 1px 1px 1px black, 0 0  25px blue, 0 0 6px darkblue;
    font-family:monospace;
    color:rgb(183, 122, 56); 
    
}

.glow{
    animation: glow 1s ease-in-out infinite alternate;
    
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #d6751b, 0 0 30px #481c4e, 0 0 50px #136dd3, 0 0 50px #a14cc3, 0 0 15px #0f5679
    }

    to {
      text-shadow: 0 0 40px #1757be, 0 0 30px #732b7c, 0 0 50px #1c030f00, 0 0 50px #1160af, 0 0 60px #4f9cc6
    }
  }

.highlight{
    color:rgb(146, 9, 112);
}

    
.para{
    font-style:italic;
    font-size:20px;
    margin-top:20px;
    color:black

}



.section .section-content{
    display:flex;
    align-items:center;
    justify-content:center; 

}

.hero-image{
    width:400px;
    height:300px;
    border-radius:10px;
    margin-right:10px;
    
}

.hero-image{
    
    padding:0px;
    margin-right:10px;

}


.details{
    
   
    padding:10px;
    margin-top:0px;

    margin-bottom:0px;
    text-align:center;
    background-image: linear-gradient(rgb(232, 126, 20),antiquewhite,rgb(66, 140, 163),rgb(216, 118, 20))
}

.button{

    margin-bottom:0px;
    display:flex;
    justify-content:space-between;
    background-color:rgb(13, 145, 178);
    padding:0px;
 
}

.button1{
    margin:30px;
    width:90px;
    height:50px;
    border-radius:10px;
}

.button1:hover{
    border:2px solid purple;
    cursor:pointer;
    box-shadow: 1px 1px 10px blue;

    
}

.button2{
    margin:30px;
    width:90px;
    height:50px;
    border-radius:10px;
}

.button2:hover{
    border:2px solid purple;
    cursor:pointer;
    box-shadow: 1px 1px 10px blue;

    
}


img {
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
   
  }
  
img:hover {
    transition: mask-position 2s ease ,mask-position 2s ease ;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 2;
  }
.image{
    width:100px;
    height:100px;   
    padding-top:20px;
    padding-left:5px;
   
}
   
#heading{
    padding-left:350px;
    padding-top:40px;
    padding-right:250px;
}


.hero-image1{
    height:400px;
    padding:0px;
    margin-right:10px;
    border-radius:10px;
    
}


.home{
    border-radius:50%;
    margin-top:40px;
    width:60px;
    height:60px;
   
}
.text{
    padding-top:23px;
    font-size:30px;
    color:wheat;
    padding-left:20px;
    
}

.container1{
    display:flex;

}


.text:hover{
    transform: scale(1.1);
    cursor:pointer;
    color:rgb(34, 106, 207);
    
}














