.container{
    padding:30px;
    height:100px;
    text-align:center;
    display:flex;
    padding-left:0px;
    padding-top:0px;
    background-color:rgba(107, 49, 48, 0.999);

    
}

.container1{
    display:flex;
}
#header{
    padding-left:350px;
    padding-top:40px;
    padding-right:250px;
}

body{
    
    padding:0px;
    margin:0px;
    background-repeat:no-repeat;

    
}

body{
    
    padding:0px;
}


h{
    font-size:50px;
    text-shadow: 4px 6px 10px rgb(121, 18, 181);
    font-family:monospace;
    color:white;;

}

p1{
    font-weight:bold;
}

.highlight{
    color:blue;
}

    
.para{
    font-style:italic;
    font-size:20px;
    margin-top:20px;
    color:rgb(105, 8, 47);

}



.section .section-content{
    display:flex;
    align-items:center;
    justify-content:center;

}



.hero-image{
    
    padding:0px;
    margin-right:10px;

}


.details{
    width:100%;
   
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    background-image:linear-gradient(rgb(211, 109, 45),white,rgb(56, 122, 176));
}

.button{

    margin-bottom:0px;
    display:flex;
    justify-content:space-between;
    background-color:rgb(242, 220, 184);
    padding:0px;
 
}

.button1{
    margin:30px;
    width:90px;
    height:50px;
    border-radius:10px;
}

.button1:hover{
    border:2px solid purple;
    cursor:pointer;
    box-shadow: 1px 1px 10px blue;

    
}

.button2{
    margin:30px;
    width:90px;
    height:50px;
    border-radius:10px;
}


.button2:hover{
    border:2px solid purple;
    cursor:pointer;
    box-shadow: 1px 1px 10px blue;

    
}

.hero-image{
    width:400px;
    height:300px;
    border-radius:15px;
    margin-right:10px;
    
    
    
}

.x{
    margin-left:550px;
    width:400px;
    height:300px;
   transition:1s;
}
.x:hover{
    transform:scale(1.1);
}

.hero-image1{
    height:300px;
    width:500px;
    
    margin-right:10px;
    border-radius:15px;
    
}

.y{
    margin-left:500px;
    width:500px;
    height:300px;
    transition:1s;
}

.y:hover{
    transform:scale(1.1);
}


.hero-image2{
    height:300px;
    width:300px;
    border-radius:15px;
}

.z{
    margin-left:600px;
    width:300px;
    height:300px;
    transition:1s;
}

.z:hover{
    transform:scale(1.1);
}

img {
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
  }
  
img:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 2;
}


.image{
    width:100px;
    height:100px;
    border-radius:50%;
    padding-top:15px;
    padding-left:20px;

   
    
   
}
   
#heading2{
    padding-left:410px;
    padding-top:40px;
}


.glow{
    animation: glow 1s ease-in-out infinite alternate;
    
}

@keyframes glow {
    from {
      text-shadow: 1px 0 10px #d6751b, 0 1px 40px #8a089b, 0 0 50px #14516d, 0 0 50px #4d156e, 0 0 15px #0a3069
    }

    to {
      text-shadow: 0 0 40px #1757be, 0 0 50px #1e675c, 0 0 50px #4c073600, 0 0 50px #1160af, 0 0 60px #216285
    }
  }

.home{
    border-radius:50%;
    margin-top:40px;
    width:60px;
    height:60px;
}
.text{
    padding-top:23px;
    font-size:30px;
    color:wheat;
    padding-left:20px;
   
    
}

.text:hover{

    cursor:pointer;
}











